.header{
    line-height: 60px;
    background: #151836;
    width: 100%;
    font-size: 18px;
    color: #2C6CD4;
    display: flex;
    padding-left:38px;
    margin-bottom:20px;
    span{
        margin-right:10px;
    }
}
//搜索
.searchForm{
    height: 75px;
    line-height: 75px;
    width:95%;
    display: flex;
    margin:auto;
    background: #1C2241;
    padding-top:15px;
    padding-left:21px;
    :global{
        .ant-form{
            line-height: 75px;
        }
        .ant-input{
            height:46px;
            width:210px;
            background:#141831;
            outline:0;
            border: 0;
            margin-right:20px;
        }
        .ant-cascader-picker{
            height:46px;
            width:210px;
            background:#141831;
            outline:0;
            border: 0;
        }
        .ant-cascader-picker-arrow{
            color:#4A5A72;
        }
        .ant-btn{
            border-radius: 50px;
            height :38px;
            width:97px;
            margin-left:18px;
            background: #2E386C;
            color:#ACB5E8;
            border: 0;
            outline: 0;
            &:hover{
                background: #327DF4
            }
            &:focus{
                background: #327DF4
            }
        }
        .showSet{
            width:130px;
        }
    }
}