//引入线上图标
@import 'http://at.alicdn.com/t/font_869092_8a2wfaaqc9t.css';
.header {
    height: 60px;
    line-height: 60px;
    background: #151836;
    width: 100%;
    font-size: 18px;
    color: #2C6CD4;
    display: flex;
    padding-left: 38px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    span {
        margin-right: 10px;
    }
    :global {
        .ant-breadcrumb {
            height: 60px;
            line-height: 60px;
            .ant-breadcrumb-link {
                a {
                    color: #BBC5D2
                }
            }
            .ant-breadcrumb-separator {
                color: #BBC5D2
            }
        }
        .ant-btn {
            background-color: rgba(21, 24, 54, 0);
            line-height: 60px;
            border: 0;
            i {
                color: #BBC5D2;
                height: 0px;
            }
        }
    }
}

// 表格单元最小宽度
.tbw {
    min-width: 100px;
}

//搜索
.searchForm {
    height: 75px;
    line-height: 75px;
    margin: 0 38px 20px;
    display: flex;
    background: #1C2241;
    padding-top: 15px;
    padding-left: 21px;
    :global {
        .ant-form {
            line-height: 75px;
            .ant-btn {
                width: 97px;
                margin-right: 0px;
            }
        }
        .ant-input {
            height: 46px;
            width: 210px;
            background: #141831;
            outline: 0;
            border: 0;
            margin-right: 3px;
            color: #ACB5E8;
        }
        .ant-select-selection--single {
            height: 46px;
            width: 210px;
            background: #141831;
            outline: 0;
            border: 0;
            position: relative;
            top: -5px;
            .ant-select-arrow {
                color: #4A5A72;
            }
        }
        .ant-select-selection__placeholder {
            top: 72%;
        }
        .ant-select-selection-selected-value {
            color: white;
            position: relative;
            top: 8px;
        }
        .ant-btn {
            border-radius: 50px;
            height: 38px;
            width: 130px;
            background: #2E386C;
            margin-right: 16px;
            color: #ACB5E8;
            border: 0;
            outline: 0;
            &:hover {
                background: #327DF4;
                color: #fff;
            }
            &:focus {
                background: #327DF4;
                color: #fff;
                color:#fff;
            }
            &:focus {
                background: #327DF4;
                color:#fff;
            }
        }
    }
}

:global {
    .ant-modal-content {
        top: 150px;
    }
    .ant-table-fixed-right {
        box-shadow: -10px 0 6px -4px rgba(0, 0, 0, 0.2);
        .ant-table-thead {
            tr {
                th {
                    border: 1px solid #2A325E;
                    font-weight: 600;
                    background: #2E3459;
                    color: #DEDEE4;
                }
            }
        }
        .ant-table-tbody {
            tr {
                &:hover td {
                    background: #1C2241;
                    color: #0084FF;
                }
                &:focus td {
                    background: #1C2241;
                    color: #0084FF;
                }
                td {
                    border-left: 0;
                    border: 1px solid #2A325E;
                    font-weight: 600;
                    background: #1C2241;
                    color: #DEDEE4;
                    &:hover {
                        background: #1C2241;
                        color: #0084FF;
                    }
                    &:focus {
                        background: #1C2241;
                        color: #0084FF;
                    }
                    .ant-btn {
                        background: #1C2241;
                        border: 1px solid #327DF4;
                        color: #327DF4;
                        height: 28px;
                    }
                }
            }
        }
    }
    .ant-table-wrapper {
        .ant-table {
            background: #2E3459;
            margin: 0 38px;
            .ant-table-content {
                .ant-table-body {
                    &::-webkit-scrollbar {
                        height: 10px;
                    }
                    &::-webkit-scrollbar-button {
                        display: none;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #3164BF;
                        border-radius: 2px;
                    }
                    &::-webkit-scrollbar-track {
                        background: #2E3459;
                    }
                }
                .ant-table-fixed-right table {
                    background: #2E3459;
                }
            }
        }
        .ant-table-thead {
            tr {
                th {
                    font-weight: 600;
                    background: #2E3459;
                    color: #DEDEE4;
                    border: 1px solid #2A325E;
                }
            }
        }
        .ant-table-tbody {
            tr {
                &:hover td {
                    color: #0084FF;
                }
                &:focus td {
                    color: #0084FF;
                }
                td {
                    height: 52px ;
                    padding: 0 16px;
                    font-size: 12px;
                    background: #1C2241;
                    color: #BBC5D2;
                    border: 1px solid #2A325E;
                    &:hover {
                        color: #0084FF;
                    }
                    &:focus {
                        color: #0084FF;
                    }
                }
            }
        }
        .ant-pagination.ant-table-pagination {
            margin-top: 24px;
            margin-bottom: 24px;
            text-align: center;
            float: none;
            color: #637890;
            .ant-pagination-prev .ant-pagination-item-link,
            .ant-pagination-next .ant-pagination-item-link {
                background: #151836;
                border: 1px solid #637890;
                color: #637890;
            }
            .ant-pagination-item {
                border: 1px solid #637890;
                color: #637890;
                background: #151836;
                a {
                    color: #637890;
                }
            }
            .ant-pagination-item-active {
                border: 0;
                background: #327DF4;
                a {
                    color: #fff;
                }
            }
            .ant-pagination-item-ellipsis {
                color: #637890;
            }
            .ant-pagination-options-quick-jumper input {
                background: #151836;
                border: 1px solid #637890;
                color: #637890;
            }
        }
    }
}

//媒体查询
@media(max-width:1580px) {
    .searchForm {
        :global {
            .ant-form {
                .ant-input {
                    max-width: 190px;
                }
                .ant-select-selection--single {
                    max-width: 190px;
                }
                .ant-btn {
                    max-width: 90px;
                }
            }
            .ant-btn {
                max-width: 120px;
            }
        }
    }
}

@media(max-width:1480px) {
    .searchForm {
        :global {
            .ant-form {
                .ant-input {
                    max-width: 160px;
                }
                .ant-select-selection--single {
                    max-width: 160px;
                }
                .ant-btn {
                    max-width: 90px;
                }
            }
            .ant-btn {
                max-width: 120px;
            }
        }
    }
}

@media(max-width:1390px) {
    .searchForm {
        :global {
            .ant-form {
                .ant-form-item {
                    margin-right: 10px;
                }
                .ant-input {
                    max-width: 160px;
                    margin-right: 0px;
                }
                .ant-select-selection--single {
                    max-width: 160px;
                    margin-left: 5px;
                    margin-right: 0px;
                }
                .ant-btn {
                    max-width: 80px;
                    margin-left: 0px;
                    margin-right: 10px;
                }
            }
            .ant-btn {
                max-width: 110px;
                margin-left: 10px;
            }
        }
    }
}

@media(max-width:1305px) {
    .searchForm {
        :global {
            .ant-form {
                .ant-input {
                    max-width: 160px;
                    margin-right: 0px;
                }
                .ant-select-selection--single {
                    max-width: 160px;
                    margin-left: 0px;
                }
                .ant-btn {
                    max-width: 70px;
                    position: relative;
                    .anticon {
                        position: absolute;
                        top: 12px;
                        left: 10px;
                    }
                }
            }
            .ant-btn {
                max-width: 90px;
                position: relative;
                .anticon {
                    position: absolute;
                    top: 12px;
                    left: 5px;
                }
            }
        }
    }
}

@media(max-width:1240px) {
    .searchForm {
        :global {
            .ant-form {
                .ant-form-item {
                    margin-right: 10px;
                }
                .ant-input {
                    max-width: 150px;
                    margin-right: 0px;
                }
                .ant-select-selection--single {
                    max-width: 150px;
                    margin-left: 0px;
                }
                .ant-btn {
                    max-width: 70px;
                    margin-left: 0px;
                    position: relative;
                    .anticon {
                        position: absolute;
                        top: 12px;
                        left: 10px;
                    }
                }
            }
            .ant-btn {
                max-width: 90px;
                margin-left: 0px;
                position: relative;
                .anticon {
                    position: absolute;
                    top: 12px;
                    left: 5px;
                }
            }
        }
    }
}

@media(max-width:1190px) {
    .searchForm {
        :global {
            .ant-form {
                .ant-form-item {
                    margin-right: 10px;
                }
                .ant-input {
                    max-width: 130px;
                    margin-right: 0px;
                }
                .ant-select-selection--single {
                    max-width: 130px;
                    margin-left: 0px;
                }
                .ant-btn {
                    max-width: 70px;
                    margin-left: 0px;
                    position: relative;
                    .anticon {
                        position: absolute;
                        top: 12px;
                        left: 10px;
                    }
                }
            }
            .ant-btn {
                max-width: 90px;
                position: relative;
                .anticon {
                    position: absolute;
                    top: 12px;
                    left: 5px;
                }
            }
        }
    }
}

@media(max-width:1130px) {
    .searchForm {
        :global {
            .ant-form {
                .ant-form-item {
                    margin-right: 5px;
                }
                .ant-input {
                    max-width: 110px;
                    margin-right: 0px;
                }
                .ant-select-selection--single{
                    max-width: 110px;
                    margin-left: 0px;
                }
                .ant-btn {
                    max-width: 70px;
                    margin-left: 0px;
                    position: relative;
                    .anticon {
                        position: absolute;
                        top: 12px;
                        left: 10px;
                    }
                }
            }
            .ant-btn {
                max-width: 80px;
                margin-right: 5px;
                position: relative;
                .anticon {
                    position: absolute;
                    top: 12px;
                    left: 2px;
                }
            }
        }
    }
}
.action{
    padding:0px  16px !important;
    :global{
        .ant-btn{
            padding:0px 6px !important;
        }
    }
}
//历史数据 
.history {
    // 表格单元最小宽度
    .tbw{
        min-width: 100px;
    }
    //设备信息
    .deviceInfo {
        display: flex;
        height: 95px;
        background-color: #1C2241;
        margin: 0 38px 20px;
        padding-left: 16px;
        .info {
            height: 64px;
            line-height: 64px;
            background: #141831;
            border: 0px;
            color: #C1CBFF;
            position: relative;
            top: 15px;
            padding-left: 40px;
            padding-right: 37px;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .deviceId {
                font-size: 45px;
                color: #327DF4;
                vertical-align: middle;
                margin-right: 12px;
            }
            .name{
                font-size: 45px;
                color: #327DF4;
                vertical-align: middle;
                margin-right: 12px;
            }
            .installAddr{
                font-size: 45px;
                color: #327DF4;
                vertical-align: middle;
                margin-right: 12px;
            }
        }
        :global {
            .ant-btn {
                margin-top: 28px;
                border-radius: 50px;
                height: 42px;
                width: 130px;
                margin-left: 16px;
                background: #2E386C;
                color: #ACB5E8;
                border: 0;
                &:hover {
                    background: #327DF4;
                    color:#fff;
                }
                &:focus {
                    background: #327DF4;
                    color:#fff;
                }
            }
        }
    }
    :global {
        .ant-table-fixed {
            .ant-table-tbody {
                tr {
                    height: 52px;
                    td {
                        font-size: 12px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    @media(max-width:1480px) {
        .deviceInfo {
            .info{
                padding: 0 20px;
            }
            :global {
                .ant-form-inline {
                    margin-right: 10px;
                    .ant-form-item {
                        .ant-input {
                            max-width: 180px;
                        }
                    }
                }
            }
        }
    }
    @media(max-width:1310px) {
        .deviceInfo {
            :global {
                .ant-form-inline {
                    margin-right: 10px;
                    .ant-form-item {
                        .ant-input {
                            max-width: 150px;
                        }
                    }
                }
            }
        }
    }
    @media(max-width:1230px) {
        .deviceInfo {
            :global {
                .ant-form-inline {
                    margin-right: 10px;
                    .ant-form-item {
                        .ant-input {
                            max-width: 150px;
                        }
                    }
                }
                .ant-btn {
                    max-width: 100px;
                    position: relative;
                    .anticon {
                        position: absolute;
                        top: 14px;
                        left: 10px;
                    }
                }
            }
        }
    }
    @media(max-width:1180px) {
        .deviceInfo {
            :global {
                .ant-form-inline {
                    margin-right: 0px;
                    .ant-form-item {
                        .ant-input {
                            max-width: 110px;
                            
                        }
                    }
                }
                .ant-btn {
                    max-width: 90px;
                    position: relative;
                    .anticon {
                        position: absolute;
                        top: 14px;
                        left: 10px;
                    }
                }
            }
        }
    }
    @media(max-width:1050px) {
        .deviceInfo {
            .info{
                padding: 0 10px;
            }
            :global {
                .ant-form-inline {
                    margin-right: 0px;
                    .ant-form-item {
                        .ant-input {
                            max-width: 110px;
                            
                        }
                    }
                }
                .ant-btn {
                    max-width: 90px;
                    position: relative;
                    .anticon {
                        position: absolute;
                        top: 14px;
                        left: 10px;
                    }
                }
            }
        }
    }
}