.header{
    line-height: 60px;
    background: #151836;
    width: 100%;
    font-size: 18px;
    color: #2C6CD4;
    display: flex;
    padding-left:38px;
    margin-bottom:20px;
    span{
        margin-right:10px;
    }
}
//搜索
.searchForm{
    height: 75px;
    line-height: 75px;
    width:95%;
    display: flex;
    margin:auto;
    background: #1C2241;
    padding-top:15px;
    padding-left:21px;
    :global{
        .ant-form{
            line-height: 75px;
        }
        .ant-input{
            height:46px;
            width:210px;
            background:#141831;
            outline:0;
        }
    }
}