.warningDetail {
    margin: 0 40px;
    height: 100%;
    background: #1c2241;
    font-size: 18px;
    .title {
        width: 100%;
        height: auto;
        padding: 20px 20px;
        color: #ababb4;
        border-bottom: 1px solid #2a325e;
        position: relative;
        .rulesName {
            width: 180px;
            background: #1c2241;
            border: none;
            outline: none;
        }
        .border {
            width: 74px;
            height: 2px;
            position: absolute;
            background: #327df4;
            bottom: 0;
        }
    }
    .content {
        margin: 35px 300px;
        .labelName {
            display: inline-block;
            color: #D1D2D6;
            margin-right: 20px;
            font-size: 16px;
        }
        :global {
            .ant-select {
                width: 300px;
                color: #fff;
                margin-right: 26px;
            }
            .ant-select-selection--single {
                height: 40px;
                background: #141831;
                border: 0;
            }
            .ant-select-selection__rendered {
                line-height: 40px;
            }
            .ant-select-selection__placeholder,
            .ant-select-search__field__placeholder {
                color: #46556D;
            }
            .ant-select-arrow {
                color: #B9C3D1;
            }
            .ant-btn {
                padding: 0 10px;
                border: 1px solid #327DF4;
                height: 40px;
                width: 124px;
                color: #2F74E2;
                background: #1C2241;
                &:hover {
                    color: #fff;
                    background: #337DF6;
                }
            }
            .ant-form {
                margin-top: 30px;
                background: #202649;
                height: 402px;
            }
        }
        .items {
            display: flex;
            margin: 24px 18px 30px;
            .itemName {
                width: 104px;
                height: 44px;
                line-height: 44px;
                color: #DADBE0;
                background: #2A325E;
                text-align: center;
                font-size: 18px;
                margin-right: 72px;
            }
            :global {
                .ant-form-item-label label,
                .ant-form-item {
                    color: #DADADF;
                }
            }
        }
    }
    
}
.form{
    width: 1010px;
    height:636px;
    margin:30px auto 0;
    background: #202649;
    .head{
        width: 100%;
        height: 54px;
        border-bottom:1px solid #2e3768;
        display: flex;
        .flag{
            margin: 17px 17px;
            width: 2px;
            height: 21px;
            background: #337df6;
        }
        .formRule{
            width: 116px;
            height: 25px;
            margin: 14px 17px;
            border:none;
            outline: none;
            border-bottom: 1px solid #2e3768;
            background: #202649;
            color:#ababb4
        }
        input::-webkit-input-placeholder{
            font-size: 18px;
            color:#ababb4
        }
    }
    .type1{
        margin: 30px 17px;
        width: auto;
        height: 44px;
        display: flex;
        .based{
            width: 103px;
            height: 44px;
            font-size: 16px;
            line-height: 44px;
            text-align: center;
            background: #2a325e;
            color: #c0c1ca;
            margin-right: 73px;
        }
        .type{
            width: auto;
            height: 44px;
            line-height: 44px;
            font-size: 14px;
            color: #c0c1ca;
            display: flex;
            .typeName{
                width: 56px;
                margin-right: 18px;
                text-align: right;
            }
            .standard1{
                margin-top: -2px;
                margin-right: 66px;
                :global{
                    .ant-select-selection,.ant-select-selection--single{
                        background: #141831;
                        color: #c0c1ca;
                        border:none;
                        outline: none;
                        width: 158px;
                        height: 38px;
                    }
                    .ant-select-selection-selected-value{
                        line-height: 38px
                    }
                    .anticon,.anticon-down,.ant-select-arrow-icon{
                        color:#46556d;
                    }
                }
            }
        }
        .limited{
            width: auto;
            height: 44px;
            line-height: 44px;
            font-size: 14px;
            color: #c0c1ca;
            display: flex;
            .limitedName{
                width: 56px;
                text-align: left;
                margin-right: 18px;
            }
            .standard1{
                margin-right: 11px;
                margin-top: -2px;
                :global{
                    .ant-select-selection,.ant-select-selection--single{
                        background: #141831;
                        color: #c0c1ca;
                        border:none;
                        outline: none;
                        width: 158px;
                        height: 38px;
                    }
                    .ant-select-selection-selected-value{
                        line-height: 38px
                    }
                    .anticon,.anticon-down,.ant-select-arrow-icon{
                        color:#46556d;
                    }
                }
            }
            .standard2{
                margin-right: 11px;
                margin-top: -2px;
                :global{
                    .ant-select-selection,.ant-select-selection--single{
                        background: #141831;
                        color: #c0c1ca;
                        border:none;
                        outline: none;
                        width: 120px;
                        height: 38px;
                    }
                    .ant-select-selection-selected-value{
                        line-height: 38px
                    }
                    .anticon,.anticon-down,.ant-select-arrow-icon{
                        color:#46556d;
                    }
                    .ant-input{
                        margin-top: 5px;
                        background: #141831;
                        color: #c0c1ca;
                        border:none;
                        outline: none;
                        width: 120px;
                        height: 38px;
                    }
                }
            }
            .standard3{
                margin-right: 11px;
                margin-top: -2px;
                :global{
                    .ant-input{
                        margin-top: 5px;
                        background: #141831;
                        color: #c0c1ca;
                        border:none;
                        outline: none;
                        width: 251px;
                        height: 38px;
                    }
                }
            }
        }
    }
}
.formTitle {
    border-bottom: 1px solid #2E3768;
    height: 58px;
    padding: 18px;
    .formName {
        height: 22px;
        line-height: 22px;
        border-left: 2px solid #337DF6;
        color: #BFC0C7;
        padding-left: 10px;
        font-size: 16px;
    }
}

.judgmentRule {
    margin-left: 107px;
}

.informer {
    margin-left: 94px;
}

.formFooter {
    margin-top: 50px;
    border-top: 1px solid #2E3768;
    height: 75px;
    line-height: 75px;
    position: relative;
    :global {
        .ant-btn {
            width: 90px !important;
            height: 40px !important;
            position: absolute;
            top: 20px;
        }
    }
    .btnmodify {
        right: 155px;
    }
    .btndelete {
        right: 41px;
    }
}

//媒体查询
@media(max-width:1599px) {
    .judgmentRule {
        margin-left: 77px;
    }
    .informer {
        margin-left: 64px;
    }
    .content {
        margin: 35px 200px !important;
        .items {
            .itemName {
                margin-right: 42px !important;
            }
        }
    }
}

@media(max-width:1499px) {
    .content {
        margin: 35px 100px !important;
    }
    .judgmentRule {
        margin-left: 47px;
    }
    .informer {
        margin-left: 34px;
    }
}
@media(max-width:1099px) {
    .content {
        margin: 35px 50px !important;
    }
    .judgmentRule {
        margin-left: 47px;
    }
    .informer {
        margin-left: 34px;
    }
}