//引入线上图标
@import 'http://at.alicdn.com/t/font_869092_twicu4yjbc8.css';
.mapControl{
    margin:0;
    height:100vh;
    :global{
        .amap-maptype-con {
            display: none;
        }
        .amap-maptype-list {
            display: none !important;
            .amap-maptype-item {
                display: none !important;
            }
        }
    }
    //统计信息面板
    .statisticsPanel{
        display: flex;
        position: absolute;
        right:36px;
        top:111px;
        z-index: 2;
        background: #13162F;
        width: 226px;
        height: 168px;
        padding:18px ;
        font-family: 'HelveticaNeue';
        .valveOpen{
            text-align: center;
            width:95px;
            border-right:1px solid #1E2445;
            color:#3177EC;
            .openIcon{
                display: block;
                width:48px;
                margin:0 auto;
                height: 62px;
                background: url(../../assets/ssWValve.png) no-repeat;
                background-size:48px 62px; 
                margin-bottom: 12px;
            }
            .openTitle{
                height: 16px;
                line-height: 16px;
                overflow: hidden;
                font-size:16px;
                margin-bottom: 12px;
                span{
                    display: inline-block;
                    width:4px;
                    background: #3177EC;
                    height: 4px;
                    line-height: 16px;
                    border-radius: 50%;
                    position: relative;
                    top:-3px;
                    left:-6px;
                }
            }
        } 
        .valveClose{
            text-align: center;
            width:95px;
            color:#fff;
            border-left:1px solid #1E2445;
            .closeIcon{
                display: block;
                margin:0 auto;
                width:48px;
                height: 62px;
                background: url(../../assets/normalWValve.png) no-repeat;
                background-size:48px 62px; 
                margin-bottom: 12px;
            }
            .closeTitle{
                height: 16px;
                line-height: 16px;
                overflow: hidden;
                font-size:16px;
                margin-bottom: 12px;
            }
        }
        .count{
            height: 22px;
            line-height: 22px;
            overflow: hidden;
            font-size: 28px !important;
        }
    }
    
}
.controlModal{
    width: 400px !important;
    color: #fff;
    :global {
        .ant-modal-content {
            background: #171A39;
        }
        .ant-modal-header {
            background: #171A39;
            border-bottom: 1px solid #363A69;
            padding: 16px 0px;
            .ant-modal-title {
                color: #fff;
                border-left: 4px #327DF4 solid;
                padding: 0px 20px;
            }
        }
        .ant-modal-body {
            text-align: center;
            padding: 38px 53px;
            background: #171A39;
            .ant-radio-wrapper{
                color: #fff;
            }
        }
        .ant-modal-close-x {
            color: #fff;
            font-size: 20px;
            font-weight: bold;
        }
        .ant-modal-footer {
            background: #171A39;
            border-top: 1px solid #363A69;
            text-align: center;
            div {
                .ant-btn {
                    color: #A4AFBC;
                    width: 70px;
                }
                button:first-child {
                    border: 0;
                    background: #171A39;
                    &:hover {
                        color: #327DF4;
                    }
                }
                button:last-child {
                    border: 0;
                    background: #327DF4;
                    color: #fff;
                }
            }
        }
    }
}
//切换地图类型 卫星|地图
.btnMapType {
    position: absolute;
    top: 28px;
    right: 36px;
    z-index: 199;
    :global {
        .ant-btn {
            width: 80px;
            height: 43px;
            background: #141831;
            color: #fff;
            font-weight: 600;
            font-size: 16px;
            border: 0;
            &:focus {
                background: #327DF4;
            }
            &:hover {
                background: #327DF4;
            }
            &:active {
                background: #327DF4;
            }
        }
    }
    .btnsatellite1 {
        background: #327DF4 !important;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .btnsatellite2 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .btnflat1 {
        background: #327DF4 !important;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .btnflat2 {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

.playIcon {
    display: block;
    color: #D1CCC6;
    font-size: 36px !important;
    position: absolute;
    top: 60px;
    left: 122px;
    cursor: pointer;
}

.btnMapZoom {
    position: absolute;
    top: 690px;
    right: 10px;
    :global {
        .ant-btn {
            width: 35px;
            height: 35px;
            padding: 0;
            position: absolute;
            background: #337DF6;
            border: 0;
            i {
                color: #fff;
                font-size: 20px;
            }
        }
    }
    .btnPlus {
        top: 32px;
        left: -64px;
    }
    .btnLess {
        top: 80px;
        left: -64px;
    }
}
.markerCamera {
    //普通显示摄像头
    .normal {
        display: block;
        width: 44px;
        height: 56px;
        background: url(../../assets/normalCamera.png) no-repeat;
    }
}

.markerWaterM {
    //普通显示水表
    .normal {
        display: block;
        width: 44px;
        height: 56px;
        background: url(../../assets/normalWMeter.png) no-repeat;
    }
}

.markerEleMeter {
    //普通显示电表
    .normal {
        display: block;
        width: 44px;
        height: 56px;
        background: url(../../assets/normalEMeter.png) no-repeat;
    }
}

.markerWaterV {
    //普通显示水阀
    .valveClose {
        display: block;
        width: 44px;
        height: 56px;
        background: url(../../assets/normalWValve.png) no-repeat;
    }
    .valveOpen{
        display: block;
        width: 44px;
        height: 56px;
        background: url(../../assets/ssWValve.png) no-repeat;
    }
}