.mapControl{
    margin:0;
    height:92.5vh;
    :global{
        .amap-maptype-con {
            display: none;
        }
        .amap-maptype-list {
            display: none !important;
            .amap-maptype-item {
                display: none !important;
            }
        }
    }
}