.demoCharts4{
    :global{
        .ant-card{
            .ant-card-head{
                height: 52px;
                padding: 0 23px;
                .ant-card-head-title{
                    padding: 15px 0 0 0;
                    color: #3177e8
                }
                .ant-card-extra{
                    padding: 9px 0 0 0;
                    .ant-select-selection,.ant-select-selection--single{
                        width: 138px;
                        height: 34px;
                        background: #151836;
                        border:1px solid #1c2241;
                        .ant-select-selection__placeholder{
                            color:#2a3360;
                        }
                        .ant-select-selection__rendered{
                            color:#2a3360;
                        }
                        .ant-select-arrow{
                            color:#2a3360;
                        }
                    }
                }
            }
        }
    }
}