.header {
    float: right;
    color:white ;
    :global{
        .ant-btn{
            background: #1F2F49;
            border:none;
            color:white;
            
        }
        .ant-btn:hover{
            
                color:rgb(51,125,246);
            
        }
    }
    .news{
    margin-right: 16px;    
    }
    .user {
        :global {
            .anticon-user{
                font-size: 16px !important;
            }
        }
    }
}