.userMgr{
    .btnModify{
        border:1px solid #E87848;
        color:#E87848;
    }
    .btnDelete{
        border:1px solid #FB3B4F;
        color:#FB3B4F;
    }
    .header {
        height: 60px;
        line-height: 60px;
        background: #151836;
        width: 100%;
        font-size: 18px;
        color: #2C6CD4;
        display: flex;
        padding-left: 38px;
        margin-bottom: 20px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
        span {
            margin-right: 10px;
        }
    }
    .searchForm{
        height: 75px;
        line-height: 75px;
        display: flex;
        background: #1C2241;
        padding-top: 15px;
        padding-left: 21px;
        margin-bottom: 20px;
        margin-left: 35px;
        margin-right:35px;
        :global{
            .ant-form{
                .ant-input{
                    height: 46px;
                    width: 210px;
                    background: #141831;
                    outline: 0;
                    border: 0;
                    margin-right: 3px;
                    color:#ACB5E8; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .ant-select-selection{
                    height: 46px;
                    width: 210px;
                    background: #141831;
                    outline: 0;
                    border: 0;
                }
                .ant-select-selection__rendered{
                    line-height: 46px;
                    color:#BFBFBF; 
                }
                .ant-select-arrow{
                   color: #4A5A72;
                }
            }
            .ant-btn{
                margin-top:4px;
                border-radius: 50px;
                height: 38px;
                width: 130px;
                background: #2E386C;
                color: #ACB5E8;
                border: 0;
                outline: 0;
                &:hover {
                    background: #327DF4;
                    color:#fff;
                }
                &:focus {
                    background: #327DF4;
                    color:#fff;
                }
            }
        }   
    }
    :global{
        .ant-table{
            background:#1C2241;
            margin-left: 35px;
            margin-right:35px;
            .ant-table-content{
                .ant-table-body{
                    .ant-table-thead{
                        tr{
                            th{
                                background:#2E3459;
                                border:1px solid #2A325E;
                                color:#E7E7EC;
                                font-weight: 600;
                                height: 54px;
                            }
                        }
                    }
                    .ant-table-tbody{
                        tr{
                            &:hover td{
                                background:#1C2241;
                                color:#0084FF;
                            }
                            td{
                                height: 52px ;
                                padding: 0 16px;
                                color:#BBC5D2;
                                border:1px solid #2A325E;
                                font-size:12px;
                                .ant-btn{
                                    background:#1C2241;
                                    // color:#3178EB;
                                    // border:1px solid #3178EB;
                                    margin-right:10px;
                                }
                            }  
                        }
                    }
                }
            }
        }
        .ant-pagination.ant-table-pagination{
            float: none;
            text-align: center;
            margin-top: 24px;
            margin-bottom: 24px;
            color: #637890;
            .ant-pagination-prev .ant-pagination-item-link,
                .ant-pagination-next .ant-pagination-item-link {
                    background: #151836;
                    border: 1px solid #637890;
                    color: #637890;
                }
                .ant-pagination-item {
                    border: 1px solid #637890;
                    color: #637890;
                    background: #151836;
                    a {
                        color: #637890;
                    }
                }
                .ant-pagination-item-active {
                    border: 0;
                    background: #327DF4;
                    a {
                        color: #fff;
                    }
                }
                .ant-pagination-item-ellipsis {
                    color: #637890;
                }
                .ant-pagination-options-quick-jumper input {
                    background: #151836;
                    border: 1px solid #637890;
                    color: #637890;
                }
        }
    }
    //媒体查询 自适应
    @media(max-width:1699px){
        .searchForm {
            :global{
                .ant-input {
                    max-width: 160px;
                }
                .ant-select-selection{
                    max-width: 160px;
                }
            }
        }
    }
    @media(max-width:1499px){
        .searchForm {
            :global{
                .ant-input {
                    max-width: 150px;
                }
                .ant-select-selection{
                    max-width: 150px;
                }
                .ant-btn{
                    max-width: 90px;
                }
            }
        }
    }
    @media(max-width:1299px){
        .searchForm {
            :global{
                .ant-form-item{
                    margin-right:6px;
                    .ant-input {
                        max-width: 150px;
                    }
                    .ant-select-selection{
                        max-width: 150px;
                    }
                }
                .ant-btn{
                    max-width: 80px;
                }
            }
        }
    }
    @media(max-width:1199px){
        .searchForm {
            :global{
                .ant-form-item{
                    margin-right:6px;
                    .ant-input {
                        max-width: 130px;
                    }
                    .ant-select-selection{
                        max-width: 130px;
                    }
                }
                .ant-btn{
                    max-width: 70px;
                    .anticon + span, {
                        margin-left: 2px;
                    }
                }
            }
        }
    }
    @media(max-width:1099px){
        .searchForm {
            :global{
                .ant-form-item{
                    margin-right:6px;
                    .ant-input {
                        max-width: 120px;
                    }
                    .ant-select-selection{
                        max-width: 120px;
                    }
                }
                .ant-btn{
                    padding:0;
                    max-width: 60px;
                }
            }
        }
    }
    
}
.delModal{
    width: 400px !important;
    color:#fff;
    :global{
        .ant-modal-content{
            background: #171A39;
        }
        .ant-modal-header{
            background: #171A39;
            border-bottom:1px solid #363A69;
            padding:16px 0px;
            .ant-modal-title{
                color:#fff;
                border-left: 4px #327DF4 solid;
                padding: 0px 20px;
            }
        }
        .ant-modal-body{
            text-align: center;
            padding: 38px 53px ;
            background: #171A39;

        }
        .ant-modal-close-x{
            color: #fff;
            font-size: 20px;
            font-weight: bold;
        }
        .ant-modal-footer{
            background: #171A39;
            border-top: 1px solid #363A69;
            text-align: center;
            div{
                .ant-btn{
                    color:#A4AFBC;
                    width:70px;
                    
                }
                button:first-child{
                    border:0;
                    background: #171A39;
                    &:hover{
                        color:#327DF4;
                    }
                }
                button:last-child{
                    border:0;
                    background: #272D52;
                    &:hover{
                        background: #327DF4;
                        color:#fff;
                    }
                }
            }
            
        }
    }
}
.addModal{
    width: 400px !important;
    color:#fff;
    :global{
        .ant-form-item-required:before{
            color:#E94B5E;
        }
        .ant-form-item-label label:after{
            content: ''
        }
        .ant-modal-content{
            background: #171A39;
        }
        .ant-modal-header{
            background: #171A39;
            border-bottom:1px solid #363A69;
            padding:16px 0px;
            .ant-modal-title{
                color:#fff;
                border-left: 4px #327DF4 solid;
                padding: 0px 20px;
            }
        }
        .ant-form-item{
            margin-bottom:21px;
        }
        .ant-modal-body{
            text-align: center;
            padding: 25px 50px ;
            background: #171A39;
            .ant-form-item-label label{
                color:#fff;
            }
            .ant-form-item:last-child {
                margin-bottom: 0;
            }
            .ant-input{
                background: #272D52;
                border:0;
                color:#D4D5DC;
                font-size: 12px;
                &:focus{
                    border:1px solid #327DF4;
                }
            }
            .ant-select-selection{
                background: #272D52;
                border:0;
                color:#D4D5DC;
                .ant-select-arrow{
                    color:#5C6480;
                }
                &:focus{
                    border:1px solid #327DF4;
                }
            }
        }
        .ant-modal-close-x{
            color: #C8C8C8;
            font-size: 20px;
            font-weight: bold;
        }
        .ant-modal-footer{
            background: #171A39;
            border-top: 1px solid #363A69;
            text-align: center;
            div{
                .ant-btn{
                    color:#A4AFBC;
                    width:70px;
                    
                }
                button:first-child{
                    border:0;
                    background: #171A39;
                    &:hover{
                        color:#327DF4;
                    }
                }
                button:last-child{
                    border:0;
                    background: #272D52;
                    &:hover{
                        background: #327DF4;
                        color:#fff;
                    }
                }
            }
        }
        .ant-select-selection__choice{
            background: #2f355f;
            border:0;
            color:#D4D5DC;
        }
        .ant-select-selection__choice__remove{
            color: #C8C8C8;
            &:hover{
                color:#E94B5E;
            }
        }
        .has-error .ant-form-explain, .has-error .ant-form-split{
            text-align: left;
            color:#E94B5E;
        }
        .has-error .ant-input, .has-error .ant-input:hover{
            border:1px solid #E94B5E;
        }
        
    }
}


