// 引入线上图标
@import 'http://at.alicdn.com/t/font_869092_w6tanf4eeh9.css';
.basic {
    background: url('../../assets/bg.png') no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    min-width: 900px;
    header {
        height: 96px;
        .logo {
            width: 68px;
            height: 68px;
            margin: 30px 15px 0 40px;
        }
        .logoTitle {
            margin-top: 30px;
        }
    }
    footer {
        height: 220px;
        background: red;
    }
    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: calc(~"100vh - 318px");
        section,
        aside {
            display: inline-block;
        }
        section {
            background: blue;
            width: 57vw;
            min-width: calc(~"900px * 0.57");
        }
        aside {
            // background: green;
            width: 43vw;
            min-width: calc(~"900px * 0.43");
            .loginBox {
                min-width: 400px;
                margin-top: 52px;
                padding-left: 8vw;
                .title {
                    position: relative;
                    left: 40px;
                }
                .boxContent {
                    margin-top: 20px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    width: 400px;
                    color: white;
                    background: rgba(51, 121, 215, 0.8); // height: 428px;
                    .loginTitle {
                        font-size: 24px;
                        padding: 34px 50px;
                    }
                    .userInput {
                        width: 300px;
                        height: 50px;
                    }
                    .yzmGroup {
                        margin-bottom: 0px;
                        display: flex;
                        justify-content: space-between;
                        .yzmInput {
                            width: 174px;
                            height: 50px;
                            margin-right: 24px;
                        }
                        .yzmwindow {
                            display: inline-block;
                            width: 104px;
                            height: 40px;
                            border: 1px #79B3F2 solid;
                            img{
                                width: 102px;
                                height: 38px; 
                                position: relative;
                                top: -3px;
                                cursor: pointer;
                            }
                        }
                    }
                    .userIcon {
                        font-size: 26px;
                        color: #79B3F2;
                    }
                    .yzIcon {
                        font-size: 34px;
                        color: #79B3F2;
                        position: relative;
                        left: -4px;
                    }
                    .remberBox{
                        width: 300px;
                        display:flex;
                        justify-content: space-between;
                        margin-left: 50px;
                        height: 40px;
                        div{
                            display: inline-block;
                        }
                        span{
                            color:#79B3F2;
                        }
                        :global{
                            .ant-checkbox-checked .ant-checkbox-inner{
                                background-color:#39CEF7;
                            }
                        }
                    }
                    .loginButton{
                       margin-bottom:0;
                       text-align:center;
                       :global{
                           .ant-btn{
                            width: 300px;
                            height: 50px;
                            background: #39CEF7;
                            color:white;
                            border: none;
                           }
                       }
                    }

                    :global {
                        .ant-input-affix-wrapper .ant-input:not(:first-child) {
                            padding-left: 48px;
                            color: #79B3F2;
                        }
                        .ant-input {
                            margin: 0 auto;
                            &::-webkit-input-placeholder {
                                color: #79B3F2;
                            }
                            border:1px #79B3F2 solid;
                            background: rgba(51,
                            121,
                            215,
                            0.4);
                        }
                        // .ant-form-item{
                        //     margin-bottom:0;
                        // }
                    }
                }
                .boxFooter {
                    position: relative;
                    display: inline-block;
                    .footerLeft {
                        height: 40px;
                        background: rgba(51, 121, 215, 0.8);
                        width: 360px;
                        border-bottom-left-radius: 8px;
                    }
                    .footerRight {
                        position: absolute;
                        right: -40px;
                        width: 0;
                        height: 0;
                        border-top: 40px solid rgb(51, 121, 215);
                        border-right: 40px solid transparent;
                        top: 0;
                    }
                }
            }
        }
    }
}